@font-face {
	font-family: "light-pixel";
	src: url("light-pixel-7/light_pixel-7.ttf") format("truetype"); 
}

#tablaBotones{
    background-color: white;
    border: 30px solid #FDFEFE;
    border-radius:35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    
}

#titulo{
	color: rgb(8, 4, 230);
	font-size: 60px;
	font-family: light-pixel;
	font-weight: bold;
	
	position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);   
    border: 30px solid #FDFEFE;
    border-radius:35px;
	background-color:rgb(255, 255, 255);
}

h1{
	color: rgb(8, 4, 230);
	font-size: 25px;
	font-family: light-pixel;
    text-align: center;
}

*{
	border: 0px solid black;
}

a:hover{
	color:gainsboro;
	text-decoration: none;
}
